catkin_generated/*
c_generated_code/*
CMakeFiles/*

crazyflie_controller/include/c_generated_code/main_crazyflie_pos
crazyflie_controller/include/c_generated_code/main_crazyflie

.devcontainer/devcontainer.json


__pycache__
.*.sw[a-z]
*.mexmaci64
slprj/
*.slxc
*.DS_Store

*.pyc
*.cmake
*.kdev4
*.o
*.so
