[submodule "crazyflie_cpp"]
	path = crazyflie_cpp
	url = git@github.com:devanshdhrafani/crazyflie_cpp.git
[submodule "crazyflie_tools"]
	path = crazyflie_tools
	url = https://github.com/whoenig/crazyflie_tools
[submodule "acados"]
	path = acados
	url = https://github.com/tmmsartor/acados
	branch = crazyflie
