*.pyc
*/CMakeFiles/*
*/catkin_generated/*
*.cmake
*/Makefile
crazyflie_controller/*.kdev4
crazyflie_controller/.kdev4
*.o
*.so
.devcontainer/devcontainer.json
crazyflie_controller/include/c_generated_code/main_crazyflie_pos
crazyflie_controller/include/c_generated_code/main_crazyflie
