<?xml version="1.0"?>
<launch>
	<arg name="uri" default="radio://0/80/2M" />
	<arg name="frame" default="/mocap" />

	<include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
	</include>

	<group ns="crazyflie">
		<node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
			<param name="uri" value="$(arg uri)" />
			<param name="tf_prefix" value="/crazyflie" />
			<param name="enable_logging" value="True" />
			<param name="enable_logging_battery" value="False" />
			<param name="enable_logging_motors" value="False" />
			<param name="enable_logging_euler_angles" value="True" />
			<param name="enable_logging_kf_quaternion" value="False" />
			<param name="enable_logging_onboard_position" value="False" />
			<param name="enable_logging_imu" value="True" />
			<param name="enable_logging_magnetic_field" value="False" />
			<param name="enable_logging_packets" value="False" />
			<param name="enable_logging_pose" value="False" />
			<param name="enable_logging_pressure" value="False" />
			<param name="enable_logging_temperature" value="False" />
		</node>

		<node
			name="pose"
			pkg="crazyflie_demo"
			type="publish_external_position_eraptor.py"
			output="screen">
		</node>
	</group>

	<include file="$(find cortex_stream)/launch/cortex_stream.launch"/>

	<!--node name="acados_plot_state"
				pkg="rqt_plot"
				type="rqt_plot"
				args="
				/cf_estimator/state_estimate/pos
				"
	/-->

	<node name="nmpc" pkg="crazyflie_controller" type="acados_one_ball" output="screen" ns="crazyflie">
		<param name="ref_traj" value="$(find crazyflie_controller)/traj/crazyflie_ref_traj.txt"/>
		<param name="b1_traj" value="$(find crazyflie_controller)/traj/ball1.txt"/>
	</node>

	<node name="estimator" pkg="crazyflie_controller" type="acados_estimator" output="screen" ns="crazyflie">
		<param name="delay" value='0.06'/>
	</node>

	<node pkg="rqt_reconfigure" name="crazyflie_reconf" type="rqt_reconfigure" output="screen">
</node>

</launch>
