<?xml version="1.0"?>
<launch>
	<arg name="uri" default="radio://0/80/2M" />
	<arg name="frame" default="/mocap" />

	<include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
</include>

	<group ns="crazyflie">
		<node
			name="pose"
			pkg="crazyflie_demo"
			type="publish_external_position_eraptor.py"
			output="screen">
		</node>

		<node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
			<param name="uri" value="$(arg uri)" />
			<param name="tf_prefix" value="crazyflie" />
			<param name="enable_logging" value="True" />
			<param name="enable_logging_battery" value="False" />
			<param name="enable_logging_euler_angles" value="True" />
			<param name="enable_logging_kf_quaternion" value="False" />
			<param name="enable_logging_onboard_position" value="False" />
			<param name="enable_logging_imu" value="True" />
			<param name="enable_logging_magnetic_field" value="False" />
			<param name="enable_logging_packets" value="False" />
			<param name="enable_logging_pose" value="False" />
			<param name="enable_logging_pressure" value="False" />
			<param name="enable_logging_temperature" value="False" />
		</node>

	</group>

  <!--node name="thrust_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/crazyflie/cmd_vel/linear"
	/-->

	<node name="cf_height"
				pkg="rqt_plot"
				type="rqt_plot"
				args="/crazyflie/external_position/point/z /crazyflie/acados_position/z /crazyflie/acados_position/y"
	/>

	<node name="acados_output_plot"
				pkg="rqt_plot"
				type="rqt_plot"
				args="/crazyflie/acados_motvel"
	/>

	<node name="acados_bag"
				pkg="rosbag"
				type="record"
				args="record -o /home/barbara/crazyflie.bag /crazyflie/external_position/point /crazyflie/acados_position /crazyflie/acados_position /crazyflie/acados_motvel"
	/>

	<!-- run eraptor bridge -->
	<include file="$(find cortex_stream)/launch/cortex_stream.launch"/>

	<include file="$(find crazyflie_demo)/launch/nmpc_debug.launch">
</include>

</launch>
