<?xml version="1.0"?>
<launch>
  <arg name="uri" default="radio://0/80/2M" />
  <arg name="frame" default="/mocap" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="/crazyflie" />
      <param name="enable_logging" value="True" />
      <param name="enable_logging_battery" value="False" />
      <param name="enable_logging_euler_angles" value="True" />
      <param name="enable_logging_kf_quaternion" value="False" />
      <param name="enable_logging_onboard_position" value="False" />
      <param name="enable_logging_imu" value="True" />
      <param name="enable_logging_magnetic_field" value="False" />
      <param name="enable_logging_packets" value="False" />
      <param name="enable_logging_pose" value="False" />
      <param name="enable_logging_pressure" value="False" />
      <param name="enable_logging_temperature" value="False" />
    </node>

    <!--node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev)" />
      <param name="deadzone" value="0.05" />
    </node>

    <include file="$(find crazyflie_demo)/launch/logitech.launch">
    </include>

    <node name="crazyflie_demo_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
        <param name="use_crazyflie_controller" value="False" />
    </node-->

    <node name="pose" pkg="crazyflie_demo" type="publish_external_position_eraptor.py" output="screen">
    </node>
  </group>

  <!-- run eraptor bridge -->
  <include file="$(find cortex_stream)/launch/cortex_stream.launch"/>

</launch>
