<?xml version="1.0"?>
<launch>

  <node name="camera"
    pkg="frc_vision"
    type="runXimea"
    output="screen"
    launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 1"
  />
  <node name="image_recognition"
    pkg="frc_vision"
    type="runImageRecognition"
    output="screen"
    launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 2"
  />
  <node name="joystick"
    pkg="joy"
    type="joy_node"
    output="screen"
    launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 3"
  />
  <node name="joystick_relay"
    pkg="frc_joyrelay"
    type="frc_joyrelay_node"
    output="screen"
    launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 4"
  />

  <node name="send_controls"
    pkg="frc_remote"
    type="runSendControls"
    output="screen"
    launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 5"
	>
	<param name="D_trim" value="0.0"/>
	<param name="delta_trim" value="0.0"/>
  </node>

	<node name="kf_estimation"
		pkg="frc_spatial_tracking_estimation_kf"
		type="runEstimation"
		output="screen"
    launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 6"
	/>

	<node name="racecar_plot"
				pkg="rqt_plot"
				type="rqt_plot"
        args="
              /greenCar/Control/D
              /greenCar/Control/delta
              /greenCar/EstOdom/v
              /greenCar/EstOdom/s
				"
        launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 7"
	/>

	<node name="racecar_bag"
		pkg="rosbag"
		type="record"
    args="-o racecar.bag
      /greenCar/Control
      /greenCar/EstOdom
      /greenCar/EstOdomPred
      /greenBox/Pose
    "
    launch-prefix="$(find frc_launch)/scripts/tmux_prefix.sh 8"
				>
	</node>

</launch>
