
<?xml version="1.0"?>
<launch>

	<arg name="uri" default="radio://0/80/2M" />
	<arg name="frame" default="/mocap" />

	<!-- <include launch-prefix="$HOME/scripts/run_tmux.sh" file="$(find crazyflie_demo)/launch/nmpc_debug.launch"> -->
	<!-- </include> -->

  <node launch-prefix="/home/tom/scripts/run_tmux.sh" name="pos_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/crazyflie/external_position/point"
	/>

</launch>
